/*main formattin */
body {
  font-family: 'Jura', sans-serif;
  text-align: center;
  background: url(https://github.com/BigOchre/Images/blob/master/Forest.jpg?raw=true) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

* {
  margin: 0;
  padding: 0;
}
/*UGHHHHHH*/
#main {
  font-size: 1.1vw;
  position:absolute;
  width: 100%;
  height: 100%;
}
/*content formatting*/

#content{
  background-color: rgba(30,40,50,.7); 
  display: inline-block;
  margin-top: 100px;
  color: white;
  padding: 2%;
  max-height:80%;
  max-width: 50%;
}
#content *{
  display: block;
}

/*nav bar*/
#div2 {
  background-color:rgba(30,40,50,.9);
  height: 80px;
  width: 100%;
  line-height: 80px;
  position: fixed;
}

#div2 h1 {
  font-size: 3vw;
  float: left;
  color: white;
  font-weight: 400;
  margin: 0px 30px;
}

#div2 ul {
  float: right;
  position: relative;
  margin-right: 30px;
  line-height: 30px;
}

#div2 ul li {
  list-style-type: none;
  display: inline-block;
  font-size: 1.7vw;
}

#div2 ul li a {
  font-size: 1.6vw;
  color: white;
  padding: 25px;
  text-decoration: none;
  display: block
}

#div2 ul li:hover {
  background:rgba(57,99,97,.9);
  transition: all 0.30s;
}

#div2 ul li:hover ul {
  display: block;
  transition: all 0.30s;
}

#div2 ul ul {
  display: block;
  width: 120px;
  position: absolute;
  display:none;
}

#div2 ul li li {
  background-color: rgba(57,99,97,.9);
  display: block;
  max-width: 105px;
}

#div2 ul li li a {
  padding: 20px;
}

#div2 ul li li:hover {
  background:rgba(30,40,50,.9);
  transition: all 0.30s;
}
